/config.txt
/target/
/logs/
/sqlite-tools-win32-x86-3350500/
/db/
/tao-calc-0.0.1-SNAPSHOT.jar
/Yukkuri.アタック.C280DDBF.wav
/Yukkuri.エリクサ.C280DDBF.wav
/Yukkuri.ペット.AEC61022.wav
/Yukkuri.超激レア.9462A487.wav
/answer.json
/dependency-reduced-pom.xml
/mmo.mp3
/tao.mp3
/training.json
/unknown.mp3
/カーソル移動1.mp3
/カーソル移動7.mp3
/超激レア.mp3
